---
import Team1 from "../images/team/team-1.webp";
import Team2 from "../images/team/team-2.webp";
import Team3 from "../images/team/team-3.webp";

import TeamBg from "../images/backgrounds/team-bg.webp";
import SeoBall from "../images/background-shape/seo-ball-1.webp";
import TeamBgTriangle from "../images/background-shape/team-bg-triangle.webp";
import TeamBgDots from "../images/background-shape/team-bg-dots.webp";
---

<section class="section fp-auto-height p-auto-width-responsive section-lg team" id="team" data-anchor="team-anchor">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-title">Il nostro team</h2>
            </div>
        </div>
        <div class="col-10 mx-auto">
            <div class="team-slider">
                <!-- team-member -->
                <div class="team-member hoverable">
                    <div class="d-flex mb-4">
                    <div class="me-3">
                        <img class="rounded-circle img-fluid" src={Team1} alt="team-member">
                    </div>
                    <div class="align-self-center">
                        <h4>Kristian Buriasco</h4>
                        <h6 class="text-color">web designer</h6>
                    </div>
                    </div>
                    <p>
                    Sono Kristian e ho una passione per la fotografia,
                    la videografia e il design. Unisco queste competenze
                    per creare soluzioni creative e uniche.
                    Con un occhio per i dettagli e conoscenza delle tecnologie digitali,
                    porto la mia visione artistica in ogni progetto.
                    Continuo a migliorare le mie competenze per portare
                    la mia creatività a livelli sempre più elevati
                    </p>
                </div>

                <!-- team-member -->
                <div class="team-member hoverable">
                    <div class="d-flex mb-4">
                    <div class="me-3">
                        <img class="rounded-circle img-fluid" src={Team2} alt="team-member">
                    </div>
                    <div class="align-self-center">
                        <h4>Lorenzo Marchisio</h4>
                        <h6 class="text-color">web developer</h6>
                    </div>
                    </div>
                    <p>
                    Sono Lorenzo, appassionato di tecnologia.
                    Creo programmi e siti web combinando la mia conoscenza
                    dell'informatica e la mia creatività.
                    Mi tengo sempre aggiornato per garantire
                    che i miei progetti siano all'avanguardia.
                    Mi concentro sulla creazione di soluzioni
                    efficienti e di alta qualità.
                    </p>
                </div>

                <!-- team-member -->
                <div class="team-member hoverable">
                    <div class="d-flex mb-4">
                    <div class="me-3">
                        <img class="rounded-circle img-fluid" src={Team3} alt="team-member">
                    </div>
                    <div class="align-self-center">
                        <h4>Alberto Gonella</h4>
                        <h6 class="text-color">web developer</h6>
                    </div>
                    </div>
                    <p>
                    Sono Alberto, appassionato di informatica e programmazione.
                    Ogni giorno amo sperimentare nuove tecnologie per ampliare
                    sempre di più le mie conoscenze per creare soluzioni sempre
                    più innovative per migliorare la vita delle persone.</p>
                </div>
            </div>

            <button class="slick-arrow prevArrow hoverable">
                <span class="material-symbols-outlined">arrow_back</span>
            </button>
            <button class="slick-arrow nextArrow hoverable">
                <span class="material-symbols-outlined">arrow_forward</span>
            </button>
            
        </div>
    </div>
    <!-- backgound image -->
    <img src={TeamBg} alt="team-bg" class="img-fluid team-bg">
    <!-- background shapes -->
    <img class="team-bg-shape-1 up-down-animation" src={SeoBall} alt="background-shape">
    <img class="team-bg-shape-2 left-right-animation" src={SeoBall} alt="background-shape">
    <img class="team-bg-shape-3 left-right-animation" src={TeamBgTriangle} alt="background-shape">
    <img class="team-bg-shape-4 up-down-animation img-fluid" src={TeamBgDots} alt="background-shape">
</section>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        $(".team-slider").slick({
            dots: false,
            infinite: false,
            speed: 1000,
            autoplay: true,
            autoplaySpeed: 5000,

            slidesToShow: 3,
            slidesToScroll: 1,

            arrows: true,
            prevArrow: $(".prevArrow"),
            nextArrow: $(".nextArrow"),

            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                    },
                },
                {
                breakpoint: 991,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                    },
                },
                {
                breakpoint: 767,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    });
</script>


<style lang="scss">
    @import "../styles/variables.scss";

    .team {
        overflow: visible;
        position: relative;

        &-slider {
            overflow: hidden !important;
            padding-bottom: 100px !important;

            .slick-list {
                overflow: visible;
            }
        }

        .slick-arrow {
            border: 0;
            background: transparent;
            color: $primary-color;
            position: absolute;
            bottom: 0;
            z-index: 1;
            font-size: 25px;

            &.slick-disabled {
                color: lighten($color: $primary-color, $amount: 30);
            }
        }
        
        .prevArrow {
            left: 10px !important;
        }

        .nextArrow {
            left: 50px !important;
        }

        &-member {
            padding: 30px 45px;
            background: $white;
            box-shadow: 0px 23px 43px 0px rgba(172, 189, 199, 0.49);
            margin: 0 20px;

            @include desktop-lg {
            padding: 30px;
            }
        }

        &-bg {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
        }

        &-bg-shape-1 {
            position: absolute;
            top: 100px;
            left: 20px;
            z-index: -1;
            @include tablet {
            display: none;
            }
        }

        &-bg-shape-2 {
            position: absolute;
            top: 100px;
            right: -5px;
            z-index: -1;
            @include tablet {
            display: none;
            }
        }

        &-bg-shape-3 {
            position: absolute;
            bottom: 20%;
            right: 40%;
            z-index: -1;
            @include tablet {
            display: none;
            }
        }

        &-bg-shape-4 {
            position: absolute;
            bottom: 20%;
            right: 180px;
            z-index: -1;
            @include tablet {
            display: none;
            }
        }
    }
</style>